<h1>Published Compliance Documents</h1>
<table class="usa-table">
  <caption>
    OSCAL Documents
  </caption>
  <thead>
    <tr>
      <th scope="col">Document title</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <% @documents.each do |d| %>
        <tr>
            <th scope="row"><%= external_link d.title, d.url %></th>
            <td><%= d.description %></td>
        </tr>
    <% end %>
  </tbody>
</table>
<% if policy(Document.new).create? %>
  <%= link_to "Create new document", new_document_path, class: "usa-link" %>
<% end %>
