<%= render "form", document: @document, heading: "Editing document" %>

<br>

<div>
  <%= link_to "Show this document", @document, class: "usa-link"%> |
  <%= link_to "Back to documents", documents_path, class: "usa-link" %>
</div>
