<%= form_with(model: @document, class: "usa-form usa-form--large") do |f| %>
  <%= render "form", f: f, document: @document, heading: "New document" %>
<% end %>

<br>

<div>
  <%= link_to "Back to documents", documents_path, class: "usa-link" %>
</div>
